/* Keep the spot-list at a maximum of 4 columns */
.header {
  margin-left: 20px;
}

.spot-list {
  display: grid;
  /* width: 100%; */
  gap: 10px;
  list-style: none;
  padding: 10px;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.spot-group {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.spot-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 0px 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 300px;
  margin: 0;
}

.tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  background-color: red;
  color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.spot-item:hover .tooltip {
  transform: translateX(-50%) scaleY(1);
  opacity: 1;
}

.spot-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
  background-position: center;
}

.spot-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.spot-details {
  position: relative;
}

.spot-details p {
  margin: 5px 0;
}

.avg-rating {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 0;
  text-align: right;
}

.spot-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.spot-link:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 720px) {
  .spot-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 721px) and (max-width: 1059px) {
  .spot-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1060px) and (max-width: 1450px) {
  .spot-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1451px) {
  .spot-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
