/* Keep the spot-list at a maximum of 4 columns */
.header1 {
  margin-left: 20px;
}

.create-spot-link1 button {
  background-color: gray;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 5px 3px 3px black;
  margin-left: 20px;
}

.create-spot-link1 button a {
  color: #fff;
  text-decoration: none; /* Remove the underline */
}

.create-spot-link1 button:hover {
  background-color: #0056b3; /* Hover color */
}

.spot-list1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 20px;
  margin-top: 20px;
}

.spot-group1 {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.spot-item1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 0px 20px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.tooltip1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  background-color: red;
  color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.spot-item1:hover .tooltip1 {
  transform: translateX(-50%) scaleY(1);
  opacity: 1;
}

.spot-image1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
  background-position: center;
}

.spot-image1 img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.spot-details1 {
  position: relative;
}

.spot-details1 p {
  margin: 5px 0;
}

.avg-rating1 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 0;
  text-align: right;
}

.spot-link1 {
  display: block;
  text-decoration: none;
  color: inherit;
}

.spot-link1:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.update-button1 {
  background-color: gray;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 5px 3px 3px black;
  /* margin-left: 20px; */
  margin: 10px;
}

.update-button1:hover {
  background-color: #0056b3; /* Hover color */
}

.delete-button1 {
  background-color: gray;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 5px 3px 3px black;
  margin-left: 20px;
}

.delete-button1:hover {
  background-color: #0056b3; /* Hover color */
}

@media (max-width: 720px) {
  .spot-list1 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 721px) and (max-width: 1059px) {
  .spot-list1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1060px) and (max-width: 1450px) {
  .spot-list1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1451px) {
  .spot-list1 {
    grid-template-columns: repeat(4, 1fr);
  }
}
